<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Title</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 50%;


        }

    </style>
</head>

<body>
<div class="container p-3" style="font-family: 'Kanit', sans-serif;">
    <div style="display: flex; justify-content: center; width: 100%;">
        <form style="display: flex;" onsubmit="dof()">
            <select name="provinces" id="provinces" class="mx-3 form-select" style="height: 40px" >
                <option value="">รวมทุกจังหวัด</option>
                <option th:each="province : ${provinces}" th:value="${province}" th:text="${province}"></option>

            </select>
            <select name="filters" id="filters" class="mx-3 form-select" style="height: 40px; width: 180px;">
                <option value="รวมแพ็กเกจทัวร์">รวมแพ็กเกจทัวร์</option>
                <option value="ราคาถูกที่สุด">ราคาถูกที่สุด</option>
                <option value="ราคาแพงที่สุด">ราคาแพงที่สุด</option>
            </select>
            <input class="mx-3 btn btn-primary" type="submit" value="ค้นหา" style="height: 40px">
        </form>
    </div>
    <div style="margin-top: 30px;">
        <h4 style="margin-bottom: 20px;">รวมแพ็กเกจทัวร์</h4>

        <div class="row">
            <div class="col-4 " th:each="tour : ${tours}">
                <img th:src="${tour.img}" class="card-img-top" alt="...">
                <div class="card-body my-2 " >
                    <h5 class="card-title" th:text="${tour.name}"></h5>
                    <hr>
                    <div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
                        <i class="fa fa-search"></i>
                        <p class="card-text mx-2" th:text="${tour.province}"></p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>ราคาเริ่มต้น</p>
                        </div>
                        <div class="col-3" style="text-align: end;">
                            <p style="font-weight: bold;">THB</p>
                        </div>
                        <div class="col-3">
                            <p th:text="${tour.price}">1,520</p>
                        </div>
                    </div>
                    <div style="text-align: end;">
                        <a th:href="@{/tour/detail/{name}(name=${tour.name})}" class="btn btn-primary">รายละเอียดเพิ่มเติม</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>